table.account-setting {
    .account {
        width: 100px;
    }

    .password {
        width: 100px;
    }

    .character-name {
        width: 100px;
    }

    .group-names {
        width: 120px;
    }

    .daily-login {
        width: 40px;
    }

    .delete-button {
        width: 40px;
    }
}