<div class="panel panel-default" *ngIf="settings">
    <div class="panel-heading">帳號設定</div>
    <div class="panel-body">
        <small>
            如果你在Chrome有登入Google帳戶的話，以下輸入的密碼將會上存到Google。 <br>
            當你在另外一台電腦再度登入時，以下設定均會自動重載。
        </small>

        <div class="col-xs-12 row">
            <form (submit)="saveSettings()">
                <table class="account-setting">
                    <thead>
                    <tr>
                        <th class="account">帳號</th>
                        <th class="password">密碼</th>
                        <th class="character-name">角色名稱</th>
                        <th class="group-names">群組</th>
                        <th class="daily-login">每天登入</th>
                        <th class="delete-button">刪除</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let account of settings.accounts; let i = index">
                            <td class="account"><input type="text" [(ngModel)]="account.loginName" [ngModelOptions]="{standalone: true}"></td>
                            <td class="password"><input type="password" [(ngModel)]="account.password" [ngModelOptions]="{standalone: true}"></td>
                            <td class="character-name">{{ account.characterName ? account.characterName : '未曾登入' }}</td>
                            <td class="group-names">
                                <textarea [(ngModel)]="account.groupNameStr" [ngModelOptions]="{standalone: true}" rows="5"></textarea>
                            </td>
                            <td class="daily-login"><input type="checkbox" [(ngModel)]="account.functionsEnabled.dailyLogin" [ngModelOptions]="{standalone: true}" /></td>
                            <td class="delete-button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning" (click)="settings.accounts.splice(i, 1)">刪除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="batch-account-import col-xs-12">
                    批量更新
                    <textarea cols="30" rows="10" [(ngModel)]="batchAccountsImportSettings" [ngModelOptions]="{standalone: true}"></textarea>
                </div>

                <div class="row col-xs-12">
                <button class="btn btn-primary">
                    更新
                </button>
                </div>
            </form>
        </div>
    </div>
</div>